services/ms-workflow/serverless.yml
org: javierpariansullca
service: ms-workflow

frameworkVersion: "4"

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::777986470706:role/LabRole
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/pedido_pasos-${sls:stage}
        - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/pedidos-${sls:stage}
    - Effect: Allow
      Action:
        - states:SendTaskSuccess
        - states:SendTaskFailure
      Resource: "*"
  environment:
    TABLA_PASOS: pedido_pasos-${sls:stage}
    TABLA_PEDIDOS: pedidos-${sls:stage}


functions:
  # ── Invocada externamente (EventBridge o Lambda) ────────────────────────
  iniciarWorkflow:
    handler: handlers/iniciar_workflow.handler
    environment:
      STATE_MACHINE_ARN: !Sub >-
        arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkflowPedido-${sls:stage}

  # ── Invocada por API Gateway (operador/frontend) ─────────────────────────
  avanzarPaso:
    handler: handlers/avanzar_paso.handler
    events:
      - http:
          path: pasos/avanzar
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: !Ref ApiGatewayAuthorizer
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  # ── Invocadas por Step Functions (waitForTaskToken) ──────────────────────
  cocinarTask:
    handler: handlers/cocinar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  despacharTask:
    handler: handlers/despachar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  repartirTask:
    handler: handlers/repartir_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  entregarTask:
    handler: handlers/entregar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

# ── Step Function ─────────────────────────────────────────────────────────
stepFunctions:
  stateMachines:
    workflowPedido:
      name: WorkflowPedido-${sls:stage}
      role: arn:aws:iam::777986470706:role/LabRole
      definition:
        Comment: "Flujo de pedidos: Cocina → Despacho → Reparto (Wait for Callback)"
        StartAt: Cocina
        States:
          Cocina:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-cocinarTask
              Payload:
                paso: "COCINA"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoCocina"
            TimeoutSeconds: 3600
            Next: Despacho
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          Despacho:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-despacharTask
              Payload:
                paso: "DESPACHO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoDespacho"
            TimeoutSeconds: 3600
            Next: Reparto
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          Reparto:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-repartirTask
              Payload:
                paso: "REPARTO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoReparto"
            TimeoutSeconds: 7200
            Next: Entregado
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          Entregado:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-entregarTask
              Payload:
                paso: "ENTREGADO"
                pedido.$: "$"
            ResultPath: "$.resultadoEntregado"
            Next: PedidoEntregado
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido

          PedidoEntregado:
            Type: Succeed

          PedidoFallido:
            Type: Fail
            Error: "PedidoError"
            Cause: "El flujo de trabajo falló en uno de los pasos."

# ── Recursos CloudFormation ───────────────────────────────────────────────
resources:
  Resources:
    # ── Authorizer referenciando el User Pool de ms-auth ──────────────────
    ApiGatewayAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: CognitoAuthorizer-workflow-${sls:stage}
        Type: COGNITO_USER_POOLS
        IdentitySource: method.request.header.Authorization
        RestApiId: !Ref ApiGatewayRestApi
        ProviderARNs:
          - ${cf:ms-auth-${sls:stage}.UserPoolArn}

    # ── Tabla DynamoDB de pasos ───────────────────────────────────────────
    TablaPedidoPasos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pedido_pasos-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: paso_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: paso_id
            KeyType: RANGE

    # ── Regla de EventBridge para iniciar Step Functions ───────────────────
    EventBridgeToStepFunctionsRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: pedidos-bus-${sls:stage}
        EventPattern:
          source:
            - pedidos.app
          detail-type:
            - PedidoCreado
        State: ENABLED
        Targets:
          - Arn: !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkflowPedido-${sls:stage}
            Id: TargetStateMachine
            RoleArn: arn:aws:iam::777986470706:role/LabRole
            InputPath: "$.detail"
